# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
env/
venv/
.venv/

# Django
*.log
local_settings.py
*.sqlite3
*.sqlite3-journal
/media/
/staticfiles/
/logs/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
.cache/
.tox/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Environnement / secrets
.env
.env.local
.env.*.local

# Build / distrib
dist/
build/

# Misc
*.bak
*.tmp
